.finish {
  @include flex(row, center, center);
  @include sizes(100vw, 100vh);
  padding: 20px;
  
  &__title {
    font-size: 20px;
    color: $black-40;
  }
}

@media screen and (max-width: 768px) {
  .finish {
    @include flex(column, center, center);
    text-align: center;
  }
}